<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestão de Reclamações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container-celular">
        <h2 class="titulo-destaque">Fale <span class="cor-destaque">Conosco</span></h2>
        <p class="subtitulo">Sua opinião é muito importante!</p>

        <form action="/cadastrar" method="POST">
            <div class="grupo-campo">
                <label for="nome">Nome Completo</label>
                <input type="text" id="nome" name="nome" required>
            </div>

            <div class="grupo-campo">
                <label for="produto">Produto ou Serviço (Pedido/Mesa)</label>
                <input type="text" id="produto" name="produto" required>
            </div>

            <div class="grupo-campo">
                <label for="descricao">Descrição Detalhada do Problema:</label>
                <textarea id="descricao" name="descricao" rows="4" required></textarea>
            </div>

            <button type="submit" class="btn-enviar">Enviar Reclamação</button>
        </form>
    </div>
</body>
</html>